<section>
  {% assign collection_title = 'Sales Potions' %}
  {% assign collection_all_types = "Health, Health & Beauty, Invisibility, Water" | split: "," %}

  <h2>{{ collection_title }}</h2>
  <ul>
    {% for type in collection_all_types %}
      <li>{{ type }}</li>
    {% endfor %}
  </ul>
</section>
{% schema %}
  {
    "name": "sales potions",
    "settings": [
      {
        "type": "collection",
        "id": "potion_collection",
        "label": "Choose a Collection"
      }
    ],
    "presets": [
      {
        "name": "Sales Potions",
        "category": "Custom"
      }
    ]
  }
{% endschema %}